* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    padding: 20px;
    background-image: url('../img/robots2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.wrapper {
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 17px 30px 15px 40px;
}

.wrapper2 {
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 17px 30px 15px 40px;
}


.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .logo {
    width: 159px; /* İstediğiniz genişliği belirleyin */
    height: auto;
}

.profile-btn-container form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-btn.no-style-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 3rem;
    color: #8D00A4;
    padding: 0;
}

.profile-btn.no-style-btn:hover {
    background: none;
    color: #8D00A4;
}

.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    border-radius: 10px;
}

.search-box-btn .search-box {
    padding: 10px;
    margin: 10px 0;
    width: 40%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
}

.search-box-btn .search-box::placeholder {
    color: #fff;
}

.search-box-btn .search-btn {
    margin-left: 7px;
    border-radius: 40px;
}

button {
    padding: 10px 20px;
    background-color: #8D00A4;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #fff;
    color: #8D00A4;
}

.articles-section {
    text-align: center;
}

.articles-section ul {
    list-style-type: none;
    padding: 0;
}

.articles-section li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.articles-section li a {
    margin-right: 10px;
    text-decoration: none;
    color: black;
}

.articles-section p {
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: double;
    color: #8D00A4;
}

.articles-section button {
    margin-left: 7px;
    border-radius: 15px;
}